body {
  margin: 0px;
}

/* Lobby */

.lobbyInfoBar {
  width: 750px;
  background-color: hsl(210, 37%, 50%);
}

.lobbyInfoBar > span + span {
  margin-left: 20px;
}

.lobbyPlayerList {
  float: left;
  width: 150px;
  background-color: hsl(26, 95%, 75%);
  height: 500px;
}

.lobbyChatArea {
  background-color: hsl(54, 95%, 66%);
  height: 500px;
  float: left;
  width: 600px;
}

.lobbyChatInput {
  clear: both;
  width: 750px;
  background-color: hsl(210, 37%, 50%);
}
